/* General */

html, body {
    padding: 0px;
    height: 100%;
}

.div-container {
    width: 1030px;
    padding: 20px;
    border: 1px solid #808080;
    border-width: 0px 1px 1px 1px;
    background-color: #f9f9f9;
}

.background-logo {
    background-image: url('/img/ormax_logo.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: 97% 2%;
}

.button-menu-selected {
    border:  2px solid black;
}

.content-area {
    margin: 0px -20px 0px -20px;
    padding:  20px;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important; 
}

.centered {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.margin-vertical-20px {
    margin-top: 20px;
    margin-bottom: 20px;
} 

.margin-top-20px {
    margin-top: 20px;
} 

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-right-20px {
    margin-right: 20px;
}  

.padding-20px {
    padding: 20px;
}

.border-round-10px {
    border-radius: 10px;
}

.border {
    border: 1px solid #282828;
}

.background-darkgradient {
    background: rgba(36,36,36,1);
    background: -moz-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(92,92,92,1) 51%, rgba(36,36,36,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,36,36,1)), color-stop(51%, rgba(92,92,92,1)), color-stop(100%, rgba(36,36,36,1)));
    background: -webkit-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(92,92,92,1) 51%, rgba(36,36,36,1) 100%);
    background: -o-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(92,92,92,1) 51%, rgba(36,36,36,1) 100%);
    background: -ms-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(92,92,92,1) 51%, rgba(36,36,36,1) 100%);
    background: linear-gradient(to bottom, rgba(36,36,36,1) 0%, rgba(92,92,92,1) 51%, rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#242424', GradientType=0 );
}

.background-black {
    background-color: #000;
}

.background-grey {
    background-color: #ccc;
}

.background-red {
    background-color: #d9534f;
}

.background-green {
    background-color: #5cb85c;
}

.font-size-90 {
    font-size: 90%;
}

.font-bold {
    font-weight: bold;
}

.info-box {
    width: 100%;
    padding: 5px 0px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

/* Pure */

.pure-table thead {
    color: #fff !important;
}

.pure-table th {
    background-color: #9e9e9e;
}

.table-subheader {
    border:  1px solid #9e9e9e !important;
    background-color: #cbcbcb !important;
    text-align: center;
    font-weight: bold;
}

.noborder-left {
    border-width:  1px 1px 1px 0px !important;
}

.noborder-right {
    border-width:  1px 0px 1px 1px !important;
}

.table-label {
    background-color: #f3f3f3 !important;
}

.table-value input {
    display: none;
    width: 108px;
}

.table-accessories input {
    width: 160px;
}

.table-condensed td {
    background-color: #fff;
    padding: 0.4em 1em;
    font-size: 90%;
}

.table-extra-info-row td {
    background-color: #cbcbcb;
}

.table-extra-info-row td div {
    width: 8%;
    display: inline-block;
    margin: 0px 0.8%;
}

.table-extra-info-row td div span:nth-child(odd) {
    margin-right: 10px;
    font-weight: bold;
}

/* Modal */

.wrap {
    white-space: initial !important;
}

#modal-add, #modal-update {
    display: none;
}

.modal-deleteConfirmation {
    display: none;
    width: 100%;
    text-align: left;
}

.modal-deleteConfirmation p {
    float: left;
    margin: 0px 20px;
}

/* Flexigrid */

.rowInfo {
    margin: -3px 3px -3px -2px;
    cursor: pointer;
}

.sDiv {
    border-width: 0px !important;
}

.sDiv2 {
    float: right !important;
    width: auto !important;
    padding-bottom: 3px !important;
}

.sDiv2 input[type='date'] {
    height: 14px;
}

.btnsearch {
    display: inline-block;
    padding: 3px 0px;
    border: 1px solid #e9e9e9;
    margin-top: -4px;
}

.btnsearch:hover {
   border: 1px solid #ccc;
}

.btnsearch span {
    cursor: pointer;
    padding: 3px;
    padding-left: 20px;
    border: 1px solid #e9e9e9;
    background: url(/img/flexigrid/magnifier.png) no-repeat;
    background-attachment: local;
    background-position: 10% 50%;
}

.btnsearch span:hover {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* Batch Edit */

.batchEdit-executeConfirmation {
    display: none;
    padding: 20px;
}

#batch_edit_table th {
    font-size: 90%;
    color: #eeeeee;
}

#batch_edit_table input {
    height: 14px;
}

/* jQuery-UI */

.ui-datepicker {
    font-size: 90%;
}

.ui-datepicker select {
    color: #000;
}

.ui-autocomplete {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 90%;
}